<!DOCTYPE html>
<html>
    
<head>
    
<title>echoehub</title>
</head>
<body>


<div align="center", text-size: 56px>
<h1>Welcome to my Homepage</h1>
<%= link_to 'About', about_path %>


</body>
</div>
</html>
